* {
    margin: 0px;
    padding: 0px;
}

#log,
.log1 {
    padding: 40px;
    margin: 40px;
    background-color: lightpink;
    text-align: center;
}

#log2,
.log2 {
    padding: 40px;
    margin: 40px;
    background-color: lightpink;
    text-align: center;
}